.ticketList {
  margin-left: auto;
  margin-right: auto;
  width: 502px;
}
.buttonMore {
  border: none;
  border-radius: 5px;
  width: 502px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
}
.noFlights {
  color: #1a5484;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}
