.aviaSalesApp {
  max-width: 760px;
  background-color: #f3f7fa;
  margin-left: auto;
  margin-right: auto;
  min-height: 1350px;
  height: 100%;
  padding-bottom: 40px;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f7fa;
}
.Interface {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .Interface {
    flex-direction: column;
  }
}
