.aviaSalesApp {
  width: 1120px;
  background-color: #f3f7fa;
  margin-left: auto;
  margin-right: auto;
  height: 1350px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.Interface {
  display: flex;
  padding-left: 180px;
  gap: 20px;
}
